.home-option {
  border-right: 2px solid #6c5ce7; }

.navbar {
  background-color: #0984e3;
  color: white; }

.home {
  background: url("../img/bg-desktop.jpg");
  background-size: cover;
  min-height: 550px; }

.form-overlay {
  background-color: rgba(9, 132, 227, 0.5); }

.form-control, .form-control:active, .form-control:focus {
  color: white;
  background-color: rgba(9, 132, 227, 0.5); }

.tres-passos {
  background-color: #b2bec3; }

.row-item-busca {
  border-bottom: 2px dotted rgba(9, 132, 227, 0.5); }

@media screen and (max-width: 700px) {
  .home-option {
    border-right: none;
    border-bottom: 2px solid #6c5ce7; } }
